<h1>Overview</h1>
<div class="overview">
  <div class="actions">
    <%= link_to "New Share", new_share_path, class: "btn btn--primary" %>
  </div>
  <div class="shares">
    <% @shares.each do |share| %>
      <%= render partial: "shares/share", locals: { share: share } %>
    <% end %>
  </div>
</div>
