<h1>Overview</h1>
<%= link_to "New Share", new_share_path %>
<hr>
<div class="shares">
  <% @shares.each do |share| %>
    <%= render partial: "shares/share", locals: { share: share } %>
  <% end %>
</div>
