@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic);

$blue: #223843;
$red: #FE5F55;
$dark-brown: #322E18;

html { font-size: 1em; }

body {
  background: #E8EEF2;
  color: #11151C;
  font-family: 'PT Sans', 'Helvetica Neue', Helvetica, Arial, Sans-serif;
  font-weight: 400;
  line-height: 1.45;
  text-rendering: optimizeLegibility;
}

p { margin-bottom: 1.3em; }

h1, h2, h3, h4 {
  line-height: 1.2;
}

small { font-size: 0.707em; }

a {
  color: $red;

  &:hover {
    color: mix(black, $red, 10%);
  }
}

.global-header {
  background: #11151C;
  color: white;
  padding: 0.5em;
}
