@import "bourbon";

.shares .share {
  margin-bottom: 1em;
}
.share {
  @include outer-container;
  background: white;
  border-radius: 4px;

  &__image {
    @include span-columns(4);

    img {
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
      display: block;
      width: 100%;
    }
  }

  &__content {
    @include span-columns(8);
  }
}
